<header>
    <ul class="header-container">
        <li class="header-item">
            <a class="header-item header-logo" href="/">
                <img class= "logo" src="https://img.freepik.com/premium-vector/recycle-icon-packaging-symbol_185417-476.jpg" alt="Logo temporary" style="max-height: 50px;">
            </a>
        </li>
        <li class="header-item searchbar-container">
            <div class="wrapper">
                <div class="searchBar">
                  <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search" value="" />
                  <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
                    <svg style="background-color: #f5f5f5; width:24px;height:24px" viewBox="0 0 24 24"><path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
                    </svg>
                  </button>
                </div>
              </div>
        </li>
        <li class="header-item">
            <a href="/register" class="register"><button id="register">Sign up</button></a>
            <a href="/login" class="login"><button id="login">Login</button></a>
        </li>
    </ul>
</header>

<style>
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: #FFF;/*#373942;*/
        color: #000;
    }
    header{
        margin: 1rem 20px;
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
    }

    .header-container{
        margin: 10px;
        padding: 2px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        max-height: 5rem;
        list-style: none;
    }

    .register{
        margin: 10px;
        
    }
    .login{
        margin-right: 15px;
    }


    #register{
        padding: 3px;
        border-radius: 10px;

    }
    #login{
        padding: 10px;
        border-radius: 10px;
    }

    
    .logo{
        border-radius: 10px;
        border: solid;
        border-color: #000;
    }
    .logo:hover{
        box-shadow: 0 0 5px #000;
    }
    
    .wrapper {
        width: 100%;
        max-width: 35rem;
    }

    .searchBar {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #searchQueryInput {
        width: 100%;
        height: 2.8rem;
        background: #f5f5f5;
        color: #000;
        border: solid;
        border-radius: 1.625rem;
        padding: 0 3.5rem 0 1.5rem;
        font-size: 1rem;
    }

    #searchQuerySubmit {
        width: 3.5rem;
        height: 2.8rem;
        margin-left: -3.5rem;
        background: none;
        border: none;
        outline: none;
    }

    #searchQuerySubmit:hover {
        cursor: pointer;
    }
</style>