<!DOCTYPE html>
<html lang="en">

<head>
    <title>Swappy - Chat</title>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Chat</h1>
        <form id="chatForm">
            <input id="chat-input" type="text">
            <input type="submit" value="Send">
        </form>
        <div id="chat"></div>
    </div>

</body>

</html>