<!DOCTYPE html>
<html lang="en">

<head>
    <title>Swappy - Chat</title>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <% if (typeof user !=='undefined' && user) { %>
            <h1>Chat</h1>
            <form id="chatForm">
                <input id="chat-input" type="text">
                    <input id=""chat-user-name" type="hidden" value="<%user.username %>">
                    <input id=""chat-user-id" type="hidden" value="<%user._id %>">
                <input type="submit" value="Send">
            </form>
            <div id="chat"></div>
            <% } %>

    </div>

</body>

</html>