<!DOCTYPE html>
<html lang="en">

<head>
    <title>Swappy - Chat</title>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 600px;
            margin: auto;
            padding-top: 50px;
        }

        #chat {
            height: 400px;
            border: 1px solid #cccccc;
            border-radius: 10px;
            padding: 10px;
            overflow-y: auto;
            margin-bottom: 20px;
            background-color: white;
        }

        #chat-input {
            border-radius: 5px;
            border: 1px solid #cccccc;
            padding: 5px;
            width: 80%;
            margin-right: 10px;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: white;
            border-radius: 5px;
            padding: 5px 10px;
            border: none;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <div class="container">
        <% if (typeof user !=='undefined' && user) { %>
            <h1>Chat</h1>
            <form id="chatForm">
                <input id="chat-input" type="text" placeholder="Type a message...">
                <input id="chat-user-name" type="hidden" value="<%user.username %>">
                <input id="chat-user-id" type="hidden" value="<%user._id %>">
                <input type="submit" value="Send">
            </form>
            <div id="chat"></div>
            <% } %>

    </div>
</body>

</html>