<!DOCTYPE html>
<html lang="de">
<head>
  <title>GWP Prüfung</title>
  <meta charset="utf-8">
  <link href="expanse/css" rel="stylesheet">  
</head>
<body>
  <div id="header">
    <h1 id="home">The Expanse</h1> 
    <nav>
      <ul>
        <li onclick="showArt(0)"><a>The Expanse</a></li> 
        <li onclick="showArt(1)"><a>Hintergrund</a></li> 
        <li onclick="showArt(2)"><a>Rocinante</a></li> 
        <li><a href="#form">Feedback</a></li> 
      </ul>
    </nav>
  </div>
  <main>    <!-- Main Content -->
    <article id="expanse">      <!-- https://www.amazon.de/gp/video/detail/B08B49TTVH/ref=atv_dp_season_select_s1 ; https://de.wikipedia.org/wiki/The_Expanse_(Fernsehserie)  -->
      <h2>The Expanse</h2>
      <div>
        <div>

          <p>
            Das Verschwinden der reichen politischen Aktivistin Julie Mao verkettet die Leben des Detectives auf Ceres, Joe Miller (Thomas Jane),
            des zufälligen Kapitäns James Holden (Steven Strait) und der UN-Politikerin Chrisjen Avasarala (Shohreh Aghdashloo). 
            Während der andauernden politischen Spannungen zwischen Erde, Mars und dem Gürtel enthüllen sie die größte Verschwörung aller Zeiten.
          </p>

          <p>
            <h3>Hauptcharaktere:</h3>
            <ul>
              <li>James „Jim“ Holden (<a href="https://de.wikipedia.org/wiki/Steven_Strait">Steven Strait</a>)</li>
              <li>Naomi Nagata (<a href="https://de.wikipedia.org/wiki/Dominique_Tipper">Dominique Tipper</a>)</li>
              <li>Amos Burton (<a href="https://de.wikipedia.org/wiki/Wes_Chatham">Wes Chatham</a>)</li>
              <li>Alex Kamal (<a href="https://de.wikipedia.org/wiki/Cas_Anvar">Cas Anvar</a>)</li>
              <li>Detective Josephus „Joe“ Miller (<a href="https://de.wikipedia.org/wiki/Thomas_Jane">Thomas Jane</a>)</li>
              <li>Chrisjen Avasarala (<a href="https://de.wikipedia.org/wiki/Shohreh_Aghdashloo">Shohreh Aghdashloo</a>)</li>
              <li>Juliette „Julie“ Andromeda Mao (<a href="https://de.wikipedia.org/wiki/Florence_Faivre">Florence Faivre</a>)</li>
              <li>Gunnery Sergeant Roberta „Bobbie“ Draper (<a href="https://de.wikipedia.org/wiki/Frankie_Adams">Frankie Adams</a>)</li>
            </ul>
          </p>

          <p>
            <h3>Allgemeine Infos:</h3>
            <ul>
              <li>Erstaustrahlung: Winter 2015/16</li>
              <li>Staffeln: 6</li>
              <li>Produktionsland: Vereinigte Staaten von Amerika</li>
              <li>Unternehmen: Alcon Entertainment, The Sean Daniel Company</li>
              <li>Verfügbar auf: <a href="https://www.amazon.de/gp/video/detail/B08B49TTVH/ref=atv_dp_season_select_s1">Amazon</a></li>
            </ul>
          </p>

        </div>
        <img src="https://images-na.ssl-images-amazon.com/images/S/pv-target-images/1766a1cc94bcd6c04a9cd449e5c2f2f0bdb4fbf9525832ea2c9c170c48ad433e._RI_V_TTW_.jpg" alt="The Expanse Titelbild">
      </div>
    </article>
    <article id="art1">   <!-- https://www.amazon.de/gp/video/detail/B08B49TTVH/ref=atv_dp_season_select_s1 -->
      <h2>Hintergrund</h2>
      <div id="handlung"> 

        <p id="textHandlung">	
          Die Serie spielt im 24. Jahrhundert. Die Menschheit hat Teile des Sonnensystems besiedelt, darunter den Mond und den Mars, 
          es existieren zudem weitere im System verstreute Kolonien und Raumstationen. 
          Politisch bestehen jedoch erhebliche Spannungen. Auf der mit über 30 Milliarden Menschen überbevölkerten 
          und unter dem erhöhten Meeresspiegel leidenden Erde sind die Vereinten Nationen (UN) zu einer Weltregierung aufgestiegen, 
          die auch den Mond und mehrere Stationen im Sonnensystem kontrolliert. 
          Die meisten Bewohner (in der dt. Fassung Terraner) haben aufgrund der hohen Bevölkerungszahl keinen Arbeitsplatz und sind für ihren Alltag auf eine staatliche Grundversorgung angewiesen. 
          In den großen Städten wie New York City gibt es Slums. 
          Des Weiteren leidet die Erde unter erheblichen Umweltproblemen, wenngleich die UN erhebliche Mittel aufbringt, um dem Schaden entgegenzuwirken. 
          Dennoch sind die terranischen Großkonzerne die wohlhabendsten im gesamten System.
          Der bereits im 21. Jahrhundert kolonisierte Mars hat sich seine Unabhängigkeit von der Erde erstritten (offizielle Bezeichnung Martian Congressional Republic) und verfügt über ein beachtliches militärisches Potenzial, 
          sodass eine Pattsituation herrscht. Die Marsianer sind ein sehr fokussiertes und auf ihre Unabhängigkeit bedachtes Volk. 
          Viele sehen auf Terraner herab, die sie als faul und verwöhnt betrachten. Dies ist nicht zuletzt auf die Lebensbedingungen auf dem Mars zurückzuführen, 
          wo der Terraforming-Prozess noch über ein Jahrhundert andauern wird. Marsianische Städte sind entsprechend abgeschottet und teils unterirdisch angelegt. 
          Die Bevölkerung ist wesentlich kleiner als die der Erde, der Mars verfügt aber trotz einiger technologischer Vorteile auch nicht über die industriellen Kapazitäten der Terraner.
          Sowohl die Erde als auch der Mars sind dringend auf die Ressourcen aus dem Asteroidengürtel angewiesen. 
          Die sogenannten Gürtler (englisch Belter) betreiben Asteroidenbergbau, leiden aber unter schlechten Arbeits- und Lebensbedingungen 
          (saubere Luft und Wasser sind oft nicht ausreichend vorhanden) und weisen aufgrund der Schwerkraftbedingungen körperliche Verformungen auf. 
          Hauptstützpunkt des Gürtels ist de facto der Zwergplanet Ceres, bedeutende Industriezentren sind Asteroiden wie Eros oder freifliegende Raumstationen wie Tycho, 
          während der Jupitermond Ganymed der Nahrungsgewinnung dient. Eine militante Widerstandsgruppe namens Outer Planets Alliance (OPA) hat sich gebildet, 
          die gegen die Erde und den Mars agiert und von den Vereinten Nationen mit allen Mitteln bekämpft wird. 
          Die Eskalation des seit Jahren schwelenden Konflikts zwischen diesen drei Kräften scheint nur noch eine Frage der Zeit zu sein.
        </p>

        <div id="picHandlung">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/5Y4wuVfV5G4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <!--<a href="https://www.youtube.com/watch?v=5Y4wuVfV5G4&t=3s">Intro 1. Staffel</a>-->
        </div>
      </div>
    </article>
    <article id="rocinante">    <!-- https://expanse.fandom.com/wiki/Rocinante_(TV) -->
      <h2>Rocinante</h2>  
      <div> 
        <div>

          <p> 
            Die Rocinante ("Roci") ist eine ehemalige MCRN (Martian Congressional Republic Navy), 
            die zu einer eigenständigen Fregatte der Korvettenklasse umfunktioniert wurde und mehrere Kampffunktionen übernehmen kann, 
            darunter die eines Torpedobombers und eines Marine-Einsatzschiffs. Ursprünglich als MCRN Tachi (ECF-270) in Dienst gestellt, 
            war das Schiff an Bord des Flaggschiffs der marsianischen Marine, der MCRN Donnager, stationiert. Es wurde von James Holden umbenannt, 
            nachdem er und seine Mannschaft von der Donnager an Bord des Schiffes geflohen waren, 
            was den Beginn seiner langen und ausgezeichneten Karriere als unabhängiges Kriegsschiff markierte.
          </p>

          <p>
            <h2>Crew</h2>
            <ul>
              <li>Captain James "Jim" Holden</li>
              <li>Executive Officer and Chief Engineer Naomi Nagata</li>
              <li>Pilot Alex Kamal</li>
              <li>Mechanic Amos Burton</li>
              <li>Gunner and Pilot Bobbie Draper</li>
            </ul>
          </p>

          <p>
            <h2>Bewaffnung</h2>
            <ul>
              <li>6x Nariman Dynamics 40mm Point Defense Cannons</li>
              <li>2x Torpedo launchers, each with a 10-torpedo capacity</li>
              <li>3x Aufklärungsdrohnen</li>
              <li>Später hinzugefügt: light keel-mounted Railgun</li>
            </ul>
          </p> 

        </div>
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5532e207-4ae8-4977-880e-52d0fdccb557/dcx3fs8-ec83f59a-8607-4b82-afaa-22087b9c147a.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU1MzJlMjA3LTRhZTgtNDk3Ny04ODBlLTUyZDBmZGNjYjU1N1wvZGN4M2ZzOC1lYzgzZjU5YS04NjA3LTRiODItYWZhYS0yMjA4N2I5YzE0N2EuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.HYapD7JI8SjFwIjHKu1zF81NSBOusy1VZdL2F9nJoCE" alt="Bild des Schiffs Rocinante">
      </div>
    </article>
    <div id="buttons">
      <button onclick="artSwitch(-1)">Zurück</button>
      <button onclick="artSwitch(1)">Weiter</button>
    </div>
  </main>

  <form id="form" onsubmit="sendToServer(form)">
    <fieldset>
      <legend><h2>Feedback</h2></legend>
      <div>
        <label for="form1">Spitzname</label>  
        <input id="form1" type="text">
      </div>
      <div>
        <label for="form2">Rang</label>
        <input id="form2" type="text">
      </div>
    </fieldset>
    <fieldset>
      <legend>Wie hat dir die Serie gefallen?</legend>
      <div>
        <span>meh</span>
        <input type="range" id="frequency" list="fSteps" min="1" max="5" step="1">
        <datalist id="fSteps">
        <option value="1" label="selten"></option>
        <option value="2"></option>
        <option value="3"></option>
        <option value="4"></option>
        <option value="5" label="häufig"></option>
        </datalist>
        <span>Beste Serie 4ever!</span>
    </div>
    </fieldset>
    <fieldset>
      <legend>Was fehlt auf unserer Seite?</legend>
      <label for="missing"></label>
      <textarea id="missing" rows="10"></textarea>
    </fieldset>
    <input type="submit">
    <input type="reset">
  </form>

  <script src="/expanse/js"></script> 
</body>
</html>