<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
        <link href="../public/css/styles.css" rel="stylesheet">
    </head>

    <body>
        <div id="header">
            <h2>Swappy</h2>
            <h1>Homepage</h1>
            <h2>
                <% if (loggedIn){%>
                <a href="./">Logout</a>
                <a href="./profile/<%= username %>">Mein Profil</a>
                <% } else {%>
                    <a href="./login">Login</a>
                    <% } %>
            </h2>
        </div>
    
        <main>
            <h2>Produktansicht</h2>
            <p>
                <% if (loggedIn){%>
                    <a href="./createProduct">Neues Produkt hochladen</a>
                <% } %>
            </p>
            <p></p>
            <p></p>
        </main>
        

        <p>Sina Han, Johann Macht, Jannis Suchanek, Batuhan-Kaan Piskin, Pia Dünow</p>

    </body>

    </html>
