<% let username="testuser" ; %>
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
        <link href="../public/css/styles.css" rel="stylesheet">
    </head>

    <body>
        <div id="header">
            <h2>Swappy</h2>
            <h1>Homepage</h1>
            <h2><a href="./login">Logout</a></h2>
        </div>
    
        <main>
            <h2>Produktansicht</h2>
        
            <p></p>
            <p></p>
        </main>
        
        <a href="./<%=username%>">Mein Profil</a>

        <p>Sina Han, Johann Macht, Jannis Suchanek, Batuhan-Kaan Piskin, Pia Dünow</p>

    </body>

    </html>