<!DOCTYPE html>
<html lang="en">
<head>
    <title>Swappy</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
   

    <main class="container mt-5">
        <h2>Willkommen bei Swappy!</h2>
        <% if (loggedIn){%>
            <div class="text-center">
                <a href="./createProduct" class="btn btn-primary">Neues Produkt hochladen</a>
            </div>
        <% } %>
    </main>
    
    <footer class="mt-5 text-center">
        <p>Sina Han, Johann Macht, Jannis Suchanek, Batuhan-Kaan Piskin, Pia Dünow</p>
    </footer>

</body>
</html>
