<!DOCTYPE html>
<html lang="en">

<head>
    <title>Swappy</title>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div id="header">
        <h2>Swappy</h2>
        <h1>Dashboard</h1>
    </div>

    <form method="POST" action="" id="seachbar">
        <input type="search" id="search" name="search" placeholder="Search...">
        <input type="submit" value="Go" onclick="fetchProductList(), event.preventDefault();">
        <div id="filterContainer"></div>
    </form>

    <main class="container mt-5">
        <h2>Produktliste</h2>
        <ul id="productList">
            
        </ul>
        <p>
            <% if (typeof user !=='undefined' && user) { %>
                <div class="text-center"></div>
                <a href="./product/createProduct" class="btn btn-primary">Neues Produkt hochladen</a>
                </div>
            <% } %>
        </p>

        <p></p>
        <p></p>
    </main>

    <footer class="mt-5 text-center">
        <p>Sina Han, Johann Macht, Jannis Suchanek, Batuhan-Kaan Piskin, Pia Dünow</p>
    </footer>


</body>
<script src="/public/scripts/jquery.min.js" type="text/javascript"></script>
<script src="/public/scripts/ajax/productList.js" type="text/javascript"></script>

</html>