<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home Page</title>
</head>

<body>
    <h1>Swappy</h1>
    <h2>Homepage</h2>
    <p>Homepage für Swappy.</p>
    <p>Sina Han, Johann Macht, Jannis Suchanek, Batuhan-Kaan Piskin, Pia Dünow</p>

    <a href="./login">Logout</a>
    <a href="./profile/name">Mein Profil</a>
</body>

</html>