<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Swappy <%=page%></title>
        <link rel="stylesheet" href="../public/css/styles.css">
        <!-- Boxiocns CDN Link -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%- include ('partials/navbar.ejs') %>
        <section class="home-section">
            <div class="home-content">
                <i class='bx bx-menu'></i>
            </div>
            <%- body %>
        </section>
        <script>
            let sidebar = document.querySelector(".sidebar");
            let sidebarBtn = document.querySelector(".bx-menu");
            console.log(sidebarBtn);
            sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");
            if(sidebar.classList.contains("close")) {
                localStorage.setItem("sidebarStatus", "close");
            } else {
                localStorage.setItem("sidebarStatus", "open");
            }
            });
        </script>
    </body>
</html>
