<body>
    <section class="home-section">
        <div class="home-content">            
            <!-- Login formular direkt hier einfügen -->
            <fieldset>
                <h1 id="login">Login</h1>
                
                <form action="" method="POST">
                    <label for="username">username: </label>
                    <input type="text" id="username" name="username" size="10" placeholder="username" style="text-align: center">
                    
                    <label for="pw"></label>
                    <input type="password" 
                        id="pw" 
                        name="password" 
                        required minlength="4" 
                        maxlength="8" 
                        size="10" 
                        placeholder="password"
                        style="text-align: center">  

                    <input type="submit" name="login" value="login">
                </form>
                
                <p><a href="/register">Registrieren</a></p>
            </fieldset>
        </div>
    </section>
    
</body>