<!DOCTYPE html>
<html lang="en">
<head>
    <title>Swappy - Profil</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2 class="mb-0">Profilseite</h2>
            </div>
            <div class="card-body">
                <h5 class="card-title">Benutzername:</h5>
                <p class="card-text"><%=username%></p>
            </div>
        </div>
    </div>
</body>
</html>
