
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <title>Profile Page</title>
    </head>

    <body>
        <h1>Swappy</h1>
        <h2>Profile Page</h2>
        <p>
            Username: <%=username%>
        <p>
    </body>

    </html>