<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Register Page</title>
    <link href="../public/css/styles.css" rel="stylesheet">
</head>

<body>

    <fieldset>
        <h1 id="register">Register</h1>
        
        <form action="/register" method="POST">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" size="10" placeholder="username" style="text-align: center">
            
            <label for="pw">Password: </label>
            <input type="password" 
                id="pw" 
                name="password" 
                required minlength="4" 
                maxlength="8" 
                size="10" 
                placeholder="password"
                style="text-align: center">  

            <input type="submit" name="register" value="Register">
        </form>
        
        <p><a href="/login">Already have an account? Login here.</a></p>
    </fieldset>
    
    <p></p>
</body>

</html>
