*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    font-size: 18px;
    line-height: 1.4;
    font-family: serif;
    --wcolor: rgb(255, 191, 30);
    --bgColor: hsl(219, 24%, 23%);
}

body{
    background-color: var(--bgColor);
    color: var(--wcolor);
    padding: 10px;
    margin: 10px;
}

h1{
    font-size: 5rem;
    text-align: center;
}

#header{
    width: 100%;
}

nav ul{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items: center;
    border: 1px var(--wcolor) solid;
    border-radius: 15px;
    background-color: hsl(220, 28%, 19%);
    flex:1 1 100%;
    margin: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

nav li{
    background-color: hsl(219, 24%, 15%);
    width: 10%;
    text-align: center;
    border: 2px hsl(0, 0%, 0%) solid;
    list-style-type: none;
    margin: 5px;
}

a{
    color: hsl(0, 0%, 96%);
}

nav li:hover{
    background-color: rgb(88, 88, 88);
}



/*      MAIN      */

main{
    border: rgb(0, 0, 0) solid;
    border-radius: 30px;
    background-color: hsl(219, 24%, 15%);
    padding: 10px;
    margin-bottom: 10px;
}

article{ 
    margin: 10px;
    background-color: hsl(220, 28%, 19%);
    border-radius: 20px;
    border: 1px solid;
    padding: 20px;
}

article>div{
    display:flex;
}

#textHandlung{
    width: 50%;
}

#buttons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    border: none;
    background-color: hsl(219, 24%, 15%);
    height: fit-content;
}

p{
    margin: 10px;
    padding: 5px;
}

div ul{
    list-style: none;
    margin: 10px;
    padding: 5px;
}

img{
    max-width: 50%;
    max-height: 35rem;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    border: rgb(0, 0, 0)  solid;
    margin: 10px 0px 10px 0px;
}

#picHandlung{
    display:flex;
    flex-flow: column wrap;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#picHandlung>a{
    color: hsl(25, 75%, 47%);
}

#picHandlung>img{
    max-width: 100%;
    max-height: 30rem;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    border: rgb(0, 0, 0)  solid;
    margin: 10px 0px 10px 0px;
}

button{
    align-self: center;
    width: 200px;
    height: 50px;
    margin: 10px 40px 10px 40px;
    border: 1px black solid;
    border-radius: 10px;
    background-color: hsl(221, 22%, 34%);
    color: rgb(255, 191, 30);
}



/*      FORM       */

form{
    border: 2px solid;
    border-radius: 10px;
    background-color:hsl(0, 0%, 100%);
    width: 50%;
    padding: 20px;
    color: hsl(0, 0%, 0%);
    margin: 30px;
    margin-left: 25%;
}

fieldset{
    padding: 10px;
}

fieldset input{
    width: 20%;
    min-width: 50px;
}

#missing{
    resize:vertical;
    height: 100px;
}


